$primary: #7749F8;
$body-bg: #F8F9FA;
$navbar-light-color: #6C757D;
$navbar-light-active-color: #5227CC;
$navbar-light-hover-color: $navbar-light-active-color;
$dropdown-link-hover-bg: #EADDFF;

@import "../node_modules/bootstrap/scss/bootstrap";