$primary: #7749F8;
$body-bg: #F8F9FA;
$navbar-light-color: #343a40;
$navbar-light-active-color: #5227CC;
$navbar-light-hover-color: $navbar-light-active-color;
$dropdown-link-hover-bg: #EADDFF;
$danger:#DC3545;
$h1-font-size:1.2rem;
$headings-font-weight:400;
$form-label-font-size: 0.9rem;
$link-decoration:none;

@import "../node_modules/bootstrap/scss/bootstrap";