/* You can add global styles to this file, and also import other style files */
:root{
    --primary_container:#EADDFF;
    --on_primary_fixed_variant:#4F378B;
    --text_on_primary_fixed_variant: #D0BCFF;
    --text_primary: #FFFFFF;
    --on_primary_container: #21005D;
    --color-negro: #49454F;
    --color-lila: #E8DEF8;
    --color-negro-oscuro: #1D192B;
}

.footer{
    background-color: #21005D;
    color: #D0BCFF;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.fd-color{
    background-color: #F8F9FA;
}
.fd-color.primary_container{
    background-color: var(--primary_container);
}
.fd-color.on_primary_fixed_variant{
    background-color: var(--on_primary_fixed_variant);
}
.fd-color.on_primary_fixed_variant > h1{
    color: var(--text_on_primary_fixed_variant);
}
.fd-color.on_primary_container{
    background-color: var(--on_primary_container);
}
.fd-color.on_primary_container > h1{
    color: var(--text_primary);
}
.fd-color.white{
    background-color: white;
}
h1,h2,h3{
    color: #21005D;
}
.ico-brand-w{
    width: 8rem;
}
.ico-ascesibilidad-w{
    width: 2rem;
}
.h-total{
    height: 100vh;
}
.invalido{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}
.tx-justify{
    text-align: justify;
}
li{
    color: #6C757D;
}
.text-nav{
    color: var(--color-negro) !important;
    font-size: 15px;
}
.text-nav.mini{
    font-size: 15px;
}
.text-nav.md{
    font-size: 16px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--color-negro-oscuro) !important;
    background-color: var(--color-lila) !important;
}
.nav-link:hover, .nav-link:focus {
    color: var(--color-negro-oscuro) !important;
}
.nav-link.disabled, .nav-link:disabled {
    color: var(--color-negro) !important;
    pointer-events: none;
    cursor: default;
}